---
layout: default
---
{% for project in site.categories.projects %}
<h1>{{ project.title }}</h1>
<div class="screenshot">
    <a href="{{ project.screenshot }}.png">
        <img src="{{ project.screenshot}}_sm.png" alt="Screenshot for {{ project.title }}" />
    </a>
</div>
<p>
<strong>Start:</strong> {{project.start }}<br />
<strong>Launch:</strong> {{ project.launch }}
</p>
{{ project.content }}
{% if forloop.last == false %}
{% comment %}
    The default layout automatically wraps the content in <article>.
    If we have multiple elements, we need to continue the pattern.
{% endcomment %}
</article>
<article>
{% endif %}
{% endfor %}
