<section>
    <div class="margin">
        <h1>Downloads</h1>
        <div id="dlcontent" class="clearfix">
            <noscript>This page requires javascript.</noscript>
            <p id="msg">Loading...</p>
        </div>
        {% include endofbody.html %}
        <script src="/js/underscore-min.js"></script>
        <script src="/js/backbone-min.js"></script>
        <script src="/js/downloads.js"></script>
        <script type="text/template" id="download-template">
            <h3><%- name %></h3>
            <p><%= description %></p>
            <p class="filedetails">
                <span>Type:</span> <%- type %>
                <span>Downloads:</span> <%- hits %>
            </p>
            <p><a class="btn btn-primary" href="<%- href %>">Download</a></p>
        </script>
    </div>
</section>
