<header class="primary">
    <hgroup>
        <h1><a href="/">Jesterpm.net</a></h1>
        <h2>The (N)ever Changing Website of Jesse</h2>
    </hgroup>

    <nav class="primary">
        <ul>
            <li>
                <img src="/images/home.png" alt="Home Icon" />
                <a href="/">Home</a>
            </li>
            <li>
                <img src="/images/blog.png" alt="Blog Icon" />
                <a href="/blog.html">Blog</a>
            </li>
            <li>
                <img src="/images/projects.png" alt="Projects Icon" />
                <a href="/projects.html">Projects</a>
            </li>
            <li>
                <img src="/images/downloads.png" alt="Downloads Icon" />
                <a href="/downloads.php">Downloads</a>
            </li>
            <li>
                <img src="/images/contact.png" alt="Contact Icon" />
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>
