<header class="primary">
    <hgroup>
        <h1><a href="/">Jesterpm.net</a></h1>
    </hgroup>

    <nav class="primary">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/books.html">Books</a>
            </li>
            <li>
                <a href="/projects.html">Projects</a>
            </li>
            <li>
                <a href="/downloads.php">Downloads</a>
            </li>
            <li>
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>
