#banner-container {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 950;
}

#banner {
    background: url('/images/banner1.jpg') fixed no-repeat center bottom black;
    border-radius: 0;
    border: none;
}

#banner .collapse.in, #banner .collapsing {
    margin-left: 100px;
}

#banner .navbar-brand>img {
    float: left;
    margin-top: -10px;
    margin-right: 15px;
}

#banner a {
    color: white;
}

#banner a:hover {
    color: white;
    text-decoration: underline;
}