html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #404040;
}

footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1, h1 a, h3, h3 a, h4, h4 a, h5, h5 a{
    color: #404040;
    color: rgba(0,0,0,0.75);
    text-decoration: none;
}

h1 a:hover {
    color: #777;
}

.left {
    float: left;
}

.style2 {
    background: #F5F5F5;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 992px) {
    .margin {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.ghost {
    color: white;
    background: rgba(0,0,0,0.5);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 300px;
}

article {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

p.image {
    position: relative;
    display: block;
    margin: 1em auto 1em auto;
    width: 80%;
    max-width: 600px;
}

p.image img {
    display: block;
    width: 100%;
}

p.image > a p {
    position: absolute;
    bottom: 1em;
    color: white;
    padding-left: 1em;
}

blockquote {
    border-left: solid 2px black;
    padding-left: 1em;
}

#fullsize {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

#fullsize img {
    display: block;
    max-width: 90%;
    max-height: 90%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

article .screenshot {
    float: left;
    margin: 1em;
    left: 45em;
    text-align: center;
    width: 180px;
}

.filedetails {
    font-size: smaller;
}

.filedetails span {
    font-weight: bold;
}

img.profile {
    border: solid 2px #6B6B6B;
    border-radius: 50%;
}