.hero {
    position: relative;
    height: 100%;
}

.hero-banner-1 {
    background: url('/images/helens-descent.jpg') fixed no-repeat center center black;
}

#bio {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    text-align: left;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
}

#bio h1 {
    margin: 0.5em;
    color: white;
    border: none;
}

#bio .profile {
    float: left;
    margin-right: 1em;
}

#bio img {
    
}

#bio p {
    margin-bottom: 1.5em;
}

#bio a, #bio a:hover, #bio a:visited {
    color: white;
    font-style: italic;
}

#bio a.email-btn {
    vertical-align: top;
    font-size: 11px;
    color: #333;
    font-style: normal;
}