section#books {
    background: url('/images/book.png') no-repeat left top #F5F5F5;
    min-height: 500px;
}

@media (min-width: 992px) {
    section#books {
        background: url('/images/book3.png') no-repeat left bottom #F5F5F5;
    }
}