<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div id="jpmwrapper">
            {% include header.html %}
            <article class="blog">
                <header>
                <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
                </header>
                {{ content }}
            </article>
            <div id="jpmpush"></div>
        </div>
        <footer>
            {% include footer.html %}
        </footer>
        <div id="fullsize"><img src="" /></div>
    </body>
</html>
