<!DOCTYPE html>
<html>
<head>
	<link rel="openid.server" href="http://jesterpm.net/myid.php" />
	<link rel="openid.delegate" href="http://jesterpm.net/myid.php" />

    {% include head.html %}

    <script>
        $(document).ready(function()
        {
            var height = $("header").outerHeight();
            $("header").css("margin-top", Math.max(0, 0.5 * (($(window).height() - height) / 2) + 
                                                $(window).scrollTop()) + "px");
            $("body").fadeIn(1000);

            $('a').click(function()
            {
                url = this.href
                $('header').animate({'margin-top': '50px'}, function()
                {
                    location.href = url;       
                });
                return false;
            });
        });
    </script>
    <style>
        #content {
        }
    </style>
</head>
<body style="display: none">
{% include header.html %}

<div id="content">
{{ content }}
</div>

</body>
</html>


