html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 0 1in 0 1.2in;
}

img {
    border: none;
    vertical-align: middle;
}

input, textarea {
    border: solid thin black;
}

a {
    color: #577;
}

a:hover {
    color: #7BB;
}


#twitter_update_list li {
    list-style: none;
}

header.primary {
    margin-bottom: 0.5in;
}

header.primary h1 {
    font-size: 36pt;
    margin-bottom: 0;
}

h1 a {
    text-decoration: none;
}

header.primary h2 {
    font-size: 12pt;
}

nav {
    font-size: 11pt;
}

nav.primary ul {
    list-style: none;
    display: inline;
    padding-left: 0;
}

nav.primary ul li {
    display: inline;
    padding-right: 0.5em;
}

article {
    margin-top: 2em;
    min-height: 8em;
}

article h1 {
    font-size: 18pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

article .date {
    font-size: 10pt;
}

article p {
    min-width: 25em;
    max-width: 50%;
    text-align: justify;
}

article .screenshot {
    float: left;
    margin: 1em;
    left: 45em;
    text-align: center;
    width: 180px;
}

pre {
    border: solid thin black;
    background: #D0DFDF;
    padding: 1em;

    min-width: 25em;
    max-width: 45em;

    font-family: monospace;
}

.filedetails {
    font-size: smaller;
}

.filedetails span {
    font-weight: bold;
}

footer {
    width: 30em;
    margin-top: 0.5in;
    padding: 1em;
    font-size: smaller;
    text-align: center;
}

