html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    height: 100%;
}

#jpmwrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}

#jpmheader {
    background: url('/images/bannera.jpg') no-repeat top left black;
    height: 292px;
    text-align: center;
}

#jpmheader h1 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 48pt;
    letter-spacing: 2px;
    border: none;
    text-shadow: 2px 2px #777;
}

#jpmheader p {
    margin: 0;
    padding: 0.25em 1em 0 0;
    color: white;
    font-size: 75%;
    text-align: right;
    position: absolute;
    left: -999em;
}

#jpmheader:hover p {
    position: static;
    left: 0;
}

nav {
    font-size: 11pt;
    background: rgba(0,0,0,0.50);
    text-align: center;
    padding: 0.1em 0 0.5em 0;
    letter-spacing: 1px;
    margin-top: -2em;
}

nav a {
    color: white;
    text-decoration: none;
    border-bottom: solid 1px white;
}

nav a:hover {
    color: white;
    border-bottom: solid 1px #777;
}

nav ul {
    list-style: none;
    display: inline;
    padding-left: 0;
}

nav ul li {
    display: inline;
    padding-right: 0.5em;
}
footer, #jpmpush {
    height: 2em;
    text-align: center;
    font-size: 80%;
}

article {
    margin: 2em 5em 1em 5em;
    width: 80%;
}

h1 {
    font-size: 24pt;
}

header h1 {
    margin-bottom: 0;
}

header .date {
    font-size: 80%;
    color: #777;
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    border-bottom: solid thin #AAA;
}

h1, h1 a, h3, h3 a, h4, h4 a, h5, h5 a{
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: #777;
}

h2, h2 a {
    font-size: 18pt;
    color: #777;
}

h2 a:hover:after, h3 a:hover:after, h4 a:hover:after h5 a:hover:after {
    content: ' \00b6';
}

h3 {
    font-size: 16pt;
}

code {
    background: #EEE;
    border: solid 1px #AAA;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
}

pre code {
    display: block;
    width: 90%;
    margin: 1em auto 1em auto;
    padding: 1em;
}

blockquote {
    border-left: solid 2px black;
    padding-left: 1em;
}

a {
    color: #0085FF;
    text-decoration: none;
}

a:hover {
    color: #005FB6;
}

img {
    border: none;
    vertical-align: middle;
}

#jpmabout {
    border: solid 4px black;
    padding: 1em;
    min-height: 200px;
    max-width: 900px;
    margin: 2em auto 2em auto;
}

#jpmabout h1 {
    border: none;
    font-size: 18pt;
}

#jpmabout img {
    float: right;
    margin-top: -75px;
    margin-left: 1em;
}

article .screenshot {
    float: left;
    margin: 1em;
    left: 45em;
    text-align: center;
    width: 180px;
}
.filedetails {
    font-size: smaller;
}

.filedetails span {
    font-weight: bold;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

